<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Supplier Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Supplier/VendorQueBSLUser"><i class="fa fa-circle-o"></i>Vendor Questionnare </a></li>
                    <li><a href="/Admin/ApprovedPackingStandardAdmin"><i class="fa fa-circle-o"></i>Packing Standard Upload </a></li>
                    <li><a href="/Admin/SourcingDeclarationAdmin"><i class="fa fa-circle-o"></i>Sourcing Upload</a></li>
                    <li><a href="/Admin/SupplierCapacityDecAdmin"><i class="fa fa-circle-o"></i>Capacity Upload</a></li>
                    <li><a href="/Admin/QualitySysCerAdmin"><i class="fa fa-circle-o"></i>Quality Certificate upload</a></li>
                    <li><a href="/Inventory/StockDeclarationRpt"><i class="fa fa-circle-o"></i>Stock Declaration Report</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Delivery Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Common/FOC"><i class="fa fa-circle-o"></i>FOC</a></li>
                    <li><a href="/Admin/FortnightAdmin"><i class="fa fa-circle-o"></i>Fortnight plan</a></li>
                    <li><a href="/Admin/KITAdmin"><i class="fa fa-circle-o"></i>KIT plan</a></li>
                    <li><a href="/Admin/PreDispatchAdmin"><i class="fa fa-circle-o"></i>Pre-Dispatch Information</a></li>
                    <li><a href="/BuyerSchedule/ScheduleDel"><i class="fa fa-circle-o"></i>Schedule V/s Delivery</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quality Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Common/Rating"><i class="fa fa-circle-o"></i>Vendor/Overall Rating</a></li>
                    <li><a href="/Common/LineStoppage"><i class="fa fa-circle-o"></i>Line Stoppage</a></li>
                    <li><a href="/Admin/FourMAdmin"><i class="fa fa-circle-o"></i>4 M Change Sheet</a></li>
                    <li><a href="/Common/Warranty"><i class="fa fa-circle-o"></i>Warranty</a></li>
                    <li><a href="/Common/PPM"><i class="fa fa-circle-o"></i>PPM</a></li>
                    <li><a href="/Admin/QualityManualAdmin"><i class="fa fa-circle-o"></i>Quality manual</a></li>
                    <li><a href="/Admin/SMIRAdmin"><i class="fa fa-circle-o"></i>Monthly Inspection Report</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>R&D</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Visitor/ECNVisitor"><i class="fa fa-circle-o"></i>ECN</a></li>

                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>General</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Default/Index"><i class="fa fa-circle-o"></i>Calender</a></li>
                    <li><a href="/BSLUser/NotificationsSupp"><i class="fa fa-circle-o"></i>Notifications</a></li>
                    <li><a href="/Common/Help"><i class="fa fa-circle-o"></i>Help</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
