<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>PO & Schedules</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/SupplierSchedule/Index"><i class="fa fa-circle-o"></i>Manage Schedule</a></li>
                    <li><a href="/SupplierPO/Index"><i class="fa fa-circle-o"></i> Manage PO</a></li>
                    <li><a href="/SupplierSchedule/UploadInvoice"><i class="fa fa-circle-o"></i> Upload Invoice</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Invoice Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/SupplierInvoice/Index"><i class="fa fa-circle-o"></i>Manage Invoice</a></li>
                    <li><a href="/GRN/Index"><i class="fa fa-circle-o"></i>GRN Details</a></li>
                    <li><a href="/MaterialRejection/Index"><i class="fa fa-circle-o"></i>Material Rejected Details</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i>
                    <span>Stock Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Inventory/Stock"><i class="fa fa-circle-o"></i>Stock Declaration Download</a></li>
                    <li><a href="/Inventory/StockManual"><i class="fa fa-circle-o"></i>Stock Mannual Upload</a></li>
                    <li><a href="/Inventory/StockBulk"><i class="fa fa-circle-o"></i>Stock Bulk Upload</a></li>
                    <li><a href="/Inventory/StockDeclarationRpt"><i class="fa fa-circle-o"></i>Stock Declaration Report</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Supplier Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Supplier/VendorQueBSLUser"><i class="fa fa-circle-o"></i>Vendor Questionnare </a></li>
                    <li><a href="/Supplier/PackingStandardSupp"><i class="fa fa-circle-o"></i>Packing Standard Upload </a></li>
                    <li><a href="/Supplier/SourcingSupp"><i class="fa fa-circle-o"></i>Sourcing Upload</a></li>
                    <li><a href="/Supplier/CapacitySupp"><i class="fa fa-circle-o"></i>Capacity Upload</a></li>
                    <li><a href="/Supplier/QualitySupp"><i class="fa fa-circle-o"></i>Quality Certificate upload</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Delivery Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Common/FOC"><i class="fa fa-circle-o"></i>FOC</a></li>
                    <li><a href="/Supplier/FortnightSupp"><i class="fa fa-circle-o"></i>Fortnight plan</a></li>
                    <li><a href="/Supplier/KITSupp"><i class="fa fa-circle-o"></i>KIT plan</a></li>
                    <li><a href="/Supplier/PreDispatchSupp"><i class="fa fa-circle-o"></i>Pre-Dispatch Information</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Quality Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Common/Rating"><i class="fa fa-circle-o"></i>Vendor/Overall Rating</a></li>
                    <li><a href="/Common/LineStoppage"><i class="fa fa-circle-o"></i>Line Stoppage</a></li>
                    <li><a href="/Supplier/FourMSupp"><i class="fa fa-circle-o"></i>4 M Change Sheet</a></li>
                    <li><a href="/Common/Warranty"><i class="fa fa-circle-o"></i>Warranty</a></li>
                    <li><a href="/Common/PPM"><i class="fa fa-circle-o"></i>PPM</a></li>
                    <li><a href="/Supplier/QMSupp"><i class="fa fa-circle-o"></i>Quality Manual</a></li>
                    <li><a href="/Supplier/SMIRSupp"><i class="fa fa-circle-o"></i>Monthly Inspection Report</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>R&D</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Supplier/ECNSupp"><i class="fa fa-circle-o"></i>ECN</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>General</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Default/Index"><i class="fa fa-circle-o"></i>Calender</a></li>
                    <li><a href="/Supplier/NotificationsSupp"><i class="fa fa-circle-o"></i>Notifications</a></li>
                    <li><a href="/Common/Help"><i class="fa fa-circle-o"></i>Help</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
