
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

 <div class="form-horizontal">
     <section class="content-header">
         <h1>
             Material Rejection Detail
         </h1>
     </section>
     <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <section class="content">

        <div class="row">

            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div style="width:100%;">
                                        <div class="panel">
                                            <div style="width:100%;">
                                                <div class="panel">
                                                    <div class="table-responsive panel-body">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="panel-body" style="text-align:left;">
                                                                    <div class="form-horizontal">

                                                                        <div class="form-group col-md-12">

                                                                            <div class="col-md-12 col-sm-4">
                                                                                <div class="col-md-12">
                                                                                    <select class="form-control" id="SearchCreteria">
                                                                                        <option selected="selected" value="">--Select--</option>
                                                                                        <option value="Supp_Code">Supplier Code</option>
                                                                                        <option value="Supp_Name">Supplier Name</option>
                                                                                        <option value="MaterialCode">Material Code</option>
                                                                                        <option value="Mat_Desc">Material Description</option>
                                                                                        <option value="PlantCode">Plant Code</option>
                                                                                        <option value="PlantName">Plant Name</option>
                                                                                        <option value="PONO">PO No</option>
                                                                                        <option value="MRNNo">MRN No</option>
                                                                                        <option value="InvoiceNo">Invoice No</option>
                                                                                        <option value="UOM">UOM</option>

                                                                                    </select>
                                                                                    &nbsp;
                                                                                    &nbsp;
                                                                                    <input type="text" id="SearchValue" class="form-control" placeholder="Search" />
                                                                                    &nbsp;
                                                                                    &nbsp;
                                                                                    <button onclick="paging(1)" class="form-control btn-primary">Search</button>
                                                                                </div>
                                                                            </div>




                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="panel-body" style="text-align:left;">
                                                                    <div class="form-horizontal">
                                                                        <div class="form-group">
                                                                            <div class="col-md-4 col-sm-4">
                                                                                <div class="col-md-12">
                                                                                    <input type="text" id="txtFromDate" class="form-control" placeholder="From Date" readonly="readonly" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-sm-4">
                                                                                <div class="col-md-12">
                                                                                    <input type="text" id="txtToDate" class="form-control" placeholder="To Date" readonly="readonly" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4 col-sm-4">
                                                                                <div class="col-md-12">
                                                                                    <button onclick="PendingDateFilter()" class="form-control btn-primary">Search</button>
                                                                                    <button onclick="Clear()" class="form-control btn-primary">Clear</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div id="GridDiv">
                                                                @{Html.RenderAction("GetMaterialRejectedData"); }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {

        $('#SearchCreteria').change(function () {
            $('#SearchValue').val('');
            if ($('#SearchCreteria').val() == '') {
                paging(1);
            }
        })

        //$(function () {

        //    paging(1);
        //    paging2(1);
        //    //$(".tab1").click(function () {
        //    //    //   alert("dfd");
        //    //    paging(1);
        //    //});
        //    //$(".tab2").click(function () {
        //    //    //  alert("dfd");
        //    //    paging2(1);
        //    //});

        //});
        $('#txtFromDate').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "tr",
            autoclose: true
        });
        $('#txtToDate').datepicker({
            changeMonth: true,
            changeYear: true,
            format: "dd/mm/yyyy",
            language: "tr",
            autoclose: true
        });

    });
    function Clear() {
        $("#txtFromDate").val("");
        $("#txtToDate").val("");
        paging(1);
    }
    function PendingDateFilter() {
        if ($("#txtFromDate").val() == "") {
            alert("Please Select From Date");
            $("#txtFromDate").focus();
            return false;
        }
        if ($("#txtToDate").val() == "") {
            alert("Please Select To Date");
            $("#txtToDate").focus();
            return false;
        }
        $('#SearchValue').val('');
        paging(1);
    }
    /*************Paging**************/
    function paging(currentpage) {
        // debugger;

        if (currentpage == NaN || currentpage <= 0) {
            return false;
        }
        $.ajax({

            url: "@Url.Action("GetMaterialRejectedData", "MaterialRejection")",
            type: 'GET',
            cache: false,
            data: { 'CurrentPage': parseInt(currentpage), 'fromDate': $("#txtFromDate").val(), 'toDate': $("#txtToDate").val(), 'SearchBy': $("#SearchCreteria").val(), 'SearchValue': $("#SearchValue").val() },
            success: function (data) {
                $('#GridDiv').html(data);
                $('.disabled').prop('disabled', true);
            },
        });
        return false;
    }



</script>
