
@{
    ViewBag.Title = "GenerateBincardData";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
    }

        .tableData tr {
        }

        .tableData td, .tableData th {
            border-right: solid 1px #D8C3C3;
            border-bottom: solid 1px #D8C3C3;
            text-align: left;
            padding: 5px;
        }

        .tableData td {
        }

        .tableData th {
            background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;
        }
</style>
 
<section class="content-header">
    <h1>
      Generate  Bincard
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Genrate Bincard</li>
    </ol>
</section>

<section class="content">

    <div class="row">

        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->

                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="panel" style="margin-bottom:0px;">
                                    <div id="GridDiv">
                                        @{Html.RenderAction("BincardDetail"); }
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <a href="@Url.Action("Index")">Back To List</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function (e) {

        //$(function () {

        //    paging(1);
        //    paging2(1);
        //    //$(".tab1").click(function () {
        //    //    //   alert("dfd");
        //    //    paging(1);
        //    //});
        //    //$(".tab2").click(function () {
        //    //    //  alert("dfd");
        //    //    paging2(1);
        //    //});

        //});

    });


    /*************Paging**************/
    function paging(currentpage) {

        if (currentpage == NaN || currentpage <= 0) {
            return false;
        }
        $.ajax({

            url: "@Url.Action("GenerateBincardData", "SupplierInvoice")",
            type: 'GET',
            cache: false,
            data: { 'CurrentPage': parseInt(currentpage) },
            success: function (data) {
                $('#GridDiv').html(data);
                $('.disabled').prop('disabled', true);
            },
        });
        return false;
    }



</script>

