
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    .tableData {
        border-left: solid 1px #D8C3C3;
        border-top: solid 1px #D8C3C3;
    }

        .tableData tr {
        }

        .tableData td, .tableData th {
            border-right: solid 1px #D8C3C3;
            border-bottom: solid 1px #D8C3C3;
            text-align: left;
            padding: 5px;
        }

        .tableData td {
        }

        .tableData th {
            background-color: #FAFAFA;
            padding: 7px 5px;
            border-bottom-color: #9C9C9C;
        }
</style>


<link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
<section class="content-header">
    <h1>
        View Buyer Invoice
    </h1>
    
</section>

<section class="content">

    <div class="row">

        <div class="col-md-12">
            <div class="box">
                <!-- /.box-header -->

                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-body" style="text-align:left;">
                                    <div class="form-horizontal">

                                        <div class="form-group col-md-12">

                                            <div class="col-md-12 col-sm-4">
                                                <div class="col-md-12">
                                                    <select class="form-control" id="SearchCreteria">
                                                        <option selected="selected" value="">--Select--</option>
                                                        <option value="InvoiceNo">Invoice No</option>
                                                        <option value="Supp_Code">Supplier Code</option>
                                                        <option value="Supp_Name">Supplier Name</option>
                                                    </select>
                                                    &nbsp;
                                                    &nbsp;
                                                    <input type="text" id="SearchValue" class="form-control" placeholder="Search" />
                                                    &nbsp;
                                                    &nbsp;
                                                    <button onclick="paging(1)" class="form-control btn-primary">Search</button>
                                                </div>
                                            </div>




                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel-body" style="text-align:left;">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-12">
                                                    <input type="text" id="txtFromDate" class="form-control" placeholder="From Date" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-12">
                                                    <input type="text" id="txtToDate" class="form-control" placeholder="From Date" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-4">
                                                <div class="col-md-12">
                                                    <button onclick="PendingDateFilter()" class="form-control btn-primary">Search</button>
                                                    <button onclick="Clear()" class="form-control btn-primary">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">

                                <div class="panel" style="margin-bottom:0px;">
                                    <div id="GridDiv">
                                        @{Html.RenderAction("BuyerInvoice"); }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $(function () {

            $('#SearchCreteria').change(function () {
                $('#SearchValue').val('');
                if ($('#SearchCreteria').val() == '') {
                    paging(1);
                }
            })

            $('#txtFromDate').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr",
                autoclose: true
            });
            $('#txtToDate').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "dd/mm/yyyy",
                language: "tr",
                autoclose: true
            });


        });

    });
    function Clear() {
        $("#txtFromDate").val("");
        $("#txtToDate").val("");
        paging(1);
    }
    function PendingDateFilter() {
        if ($("#txtFromDate").val() == "") {
            alert("Please Select From Date");
            $("#txtFromDate").focus();
            return false;
        }
        if ($("#txtToDate").val() == "") {
            alert("Please Select To Date");
            $("#txtToDate").focus();
            return false;
        }
        $('#SearchValue').val('');
        paging(1);
    }

    /*************Paging**************/
    function paging(currentpage) {
        // debugger;
         
        if (currentpage == NaN || currentpage <= 0) {
            return false;
        }
        $.ajax({

            url: "@Url.Action("BuyerInvoice", "BuyerInvoice")",
            type: 'GET',
            cache: false,
            data: { 'CurrentPage': parseInt(currentpage), 'fromDate': $("#txtFromDate").val(), 'toDate': $("#txtToDate").val(), 'SearchBy': $("#SearchCreteria").val(), 'SearchValue': $("#SearchValue").val() },
            success: function (data) {
                $('#GridDiv').html(data);
                $('.disabled').prop('disabled', true);
            },
        });
        return false;
    }

    

</script>