
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/AdminView.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>Index</h2>

