@using System.Web.Optimization
@using System.Data
@using VendorPortal.Models

@{
    ViewBag.Title = "NotificationsSupp";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<style>
    .fileinput-button {
        position: relative;
        overflow: hidden;
        background-color: #398439;
        border-color: #255625;
    }

    .fileinput-button {
        background-color: #398439;
        border-color: #255625;
    }

        .fileinput-button input {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            direction: ltr;
            cursor: pointer;
        }
</style>

<section class="content-header">
    <h1>
        Notifications
    </h1>
    
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <!-- general form elements -->
                        <div class="col-md-12">
                            <!-- form start -->


                            <div class="form-group">
                                <label for="exampleInputEmail1">Search</label>
                                <input type="text" class="form-control" id="txtsearch" placeholder="Enter Text" onkeyup="filter();">
                            </div>


                            <!-- /.box-body -->

                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <table class="table table-striped">
                        <caption style="color:#4169e1;"><p id="demo"><i id="div1" class="fa" style="background-color:#4169e1; color:#FFFF00;"></i> </p></caption>
                        <thead>
                            <tr>
                                <th scope="col" style="width:5%;">#</th>
                                <th scope="col" style="width:15%;">User Code</th>
                                <th scope="col" style="width:35%;">Message</th>
                                <th scope="col" style="width:15%;">Start Date</th>
                                <th scope="col" style="width:15%;">End Date</th>
                                <th scope="col" style="width:15%;">Upload Date</th>
                                @*<th scope="col">Action</th>*@
                            </tr>
                        </thead>



                    </table>
                    <marquee behavior="scroll" direction="up" scrollamount="3" onmousedown="this.stop();" onmouseup="this.start();">
                        <table id="tblAppPackList" class="table table-striped">


                            <tbody></tbody>

                        </table>

                    </marquee>


                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>

<script type="text/javascript">
    function ratestar() {
        var a;
        a = document.getElementById("div1");
        a.innerHTML = "&#xf006;";
        setTimeout(function () {
            a.innerHTML = "&#xf005;";
        }, 1000);
    }
    ratestar();
    setInterval(ratestar, 2000);
    var i = 0;
    var txt = 'Press and hold mouse on below notifications to stop moving .';
    var speed = 50;

    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("demo").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
    typeWriter();
    NotificationList();
    function NotificationList() {
                    $.getJSON("@Url.Action("Notification", "Common")", { },
                        function (list) {
                            $('#tblAppPackList>tbody>tr').remove();
                            $('#tblAppPackList tbody').empty();
                            if (list.length > 0) {
                                var ct = 0;
                                //<td style="width: 50px;">' + (ct) + '</td>
                                $.each(list, function (index, itemData) {
                                    ct = ct + 1;
                                    $('#tblAppPackList>tbody').append('<tr  style="background-color:#4169e1; color:#FFFF00;" id=' + ct + '><td input id="s" type="Text" style="width:5%;">' + ct + '</td><td input id="m" type="Text" style="width:15%;">' + itemData.UserCode + '</td> <td style="width:35%;"> ' + itemData.Message + ' </td><td style="width:15%;">' + ConvertJsonDateString(itemData.StartDate, itemData.Active) + '</td><td style="width:15%;">' + ConvertJsonDateString(itemData.ValidTill, itemData.Active) + '</td><td style="width:15%;">' + ConvertJsonDateString(itemData.UploadDate, itemData.Active) + '</td></tr>');

                                });
                            }
                        });
    }
    function ConvertJsonDateString(jsonDate,Active) {
        var shortDate = "";
        if (Active != 2 && Active != null && Active != "") {
            if (jsonDate) {
                if (jsonDate == "/Date(-2209008600000)/") {
                    return shortDate = "";
                }
                var regex = /-?\d+/;
                var matches = regex.exec(jsonDate);
                var dt = new Date(parseInt(matches[0]));
                var month = dt.getMonth() + 1;
                var monthString = month > 9 ? month : '0' + month;
                var day = dt.getDate();
                var dayString = day > 9 ? day : '0' + day;
                var year = dt.getFullYear();

                shortDate = dayString + '/' + monthString + '/' + year;
            }
        }
        return shortDate;
    };

    function ActionBtn(Id)
    {
        return '<button id="Del" onclick="DataDelete('+ Id +')"  class="btn btn-danger btn-xs"><i class="fa fa-trash-o " type="submit" )></i></button>';
    }

    function DataDelete(Id)
    {
        $.getJSON("@Url.Action("DeleteNotification", "Common")", {
            Id: Id, Tablecontentet :""
        },
        );
        NotificationList();
        alert('Successfully Deleted!');
    }
    function NotificationUpload()
    {
       var d = $('#DDLSU').val();
       var t = $('#txtUserCode').val();
       if (d == "---Select User---" && t == "")
       {
           alert('You have not selected User or not enter user code !');
       }
       if ($('#StartDate').val() == "" || $('#EndDate').val() == "") {
           alert('You have not selected Start Date or End Date!');
       }
       else
       {
           if (t == "") {
               $.getJSON("@Url.Action("NotificationUpload", "Common")"
                   , {
                       UserName: d, StartDate: $('#StartDate').val(), EndDate: $('#EndDate').val(),
                       Message: $('#Message').val(), UC: "d", Tablecontentet: ""
                   },

               );
           }
           else
           {
                   $.getJSON("@Url.Action("NotificationUpload", "Common")"
                   , {
                       UserName: t, StartDate: $('#StartDate').val(), EndDate: $('#EndDate').val(),
                       Message: $('#Message').val(), UC: "t", Tablecontentet: ""
                   },

               );

           }
           alert('Successfully Submitted!');
       }
    }
    function filter() {
        var searchText = $('#txtsearch').val();
        $.each($("#tblAppPackList tbody").find("tr"), function () {
            if ($(this).text().toLowerCase().replace(/\s+/g, '').indexOf(searchText.replace(/\s+/g, '').toLowerCase()) == -1)
                $(this).hide();
            else
                $(this).show();
        });
    }

</script>


